<!--
Your navigation and header. I will dynamically load all pages into the
navigation bar, except for the blog page, which I will load manually.
-->

<aside>
	<div class="container">
		<nav>
			<ul>
				<!--{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}-->
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
				<li><a href="{{ "/humanFlourishing/" | prepend: site.baseurl }}">Human Flourishing</a></li>
				<li><a href="{{ "/philosophy/" | prepend: site.baseurl }}">Philosophy</a></li>
				<li><a href="{{ "/ai/" | prepend: site.baseurl }}">Artificial Intelligence</a></li>
				<li><a href="{{ "/computer-science/" | prepend: site.baseurl }}">Computer Science</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<h1><a href="{{ site.url }}" style="color:#FFF">{{ site.title }}</a></h1>
</header>
