<!DOCTYPE html>
<html>
  <head>
    <title>Philosopher Scholar</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
  </head>
  <body>
    <div id="header">
        <h1>A philosopher</h1>
    </div>
    <ul class="topnav" id="myTopnav">
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="./pages/navigation/about.html">About</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>

  </body>
</html>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
