$content-width: 50em;
// Purple = 800080, royal purple = 7851A9, eminence = 6C3082
$main: #6C3082;
$font-style: 'Philosopher', sans-serif;
$font-color: #000;
$link-color: $main;
$link-hover-color: #7851A9;
$heading-font: 'Philosopher', sans-serif;
$heading-font-color: #000;
$light: #E7EDF4;
$header: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
