html, body{
  font-family: 'Philosopher', serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  position: absolute;

  margin-top: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: auto;

  padding: 1em;

  min-width: 40em;
  max-width: 60%;
}
