html, body {
  font-family: 'Philosopher', serif;
  font-size: 16;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  position: absolute;

  margin-top: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: auto;

  padding: 1em;

  min-width: 40em;
  max-width: 20px;
}

#myInput {
    background-image: url('../../images/icon.png'); /* Add a search icon to input */
    background-position: 0px 0px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    min-width: 50em;
    max-width: 30px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#argTable {
    /*border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    min-width: 50em;
    max-width: 30px;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#argTable th, #argTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#argTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#argTable tr.header, #argTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
