html, body {
  font-family: 'Philosopher', serif;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  display: inline-block;
  position: relative;
  text-align: justify;
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
  min-height: 100%;
  min-width: 2rem;
  max-width: 50rem;
}
